body, html {
   height: 100%;
   font-family: Roboto; 
}
.container {
    height: 95%;
    display: grid;
    grid-template-rows: 3fr 2fr 1fr 1fr;
    grid-template-areas: 
        "header header header header header header"
        "answer answer answer answer answer answer"
        "wrongbox wrongbox guessesleft guessesleft wincount wincount"
        "wrongbox wrongbox guessesleft guessesleft losscount losscount";
    grid-gap: 10px;
    padding: 10px;
}
.container > div {
    font-size: 1.5em;
    text-align: center;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    border-width: 2px;
    border: solid;
    border-color: #266B56;
}
.item1 { 
    grid-area: header;
    display: grid;
    align-items: center;
    justify-content: center;
    background-color: #266B56;
}
.item2 { grid-area: answer; }
.item3 { grid-area: wrongbox; }
.item4 { grid-area: guessesleft;}
.item5 { grid-area: wincount; }
.item6 { grid-area: losscount; }
h1 {
    font-family: 'Bungee Shade';
    font-size: 2.5em;
    color: #ffffff;
}
h3 {
   font-size: 1.7em;
}
p{
    font-size: 1.2em;
    padding: 10px;
}





